<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Admin Matrix</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h1> PANEL MATRIX </h1>

<div style="text-align:center;">
    <button onclick="cargarDatos()">Cargar Datos</button>
    <a href="/logout"><button>Cerrar Sesión</button></a>
</div>

<canvas id="grafico" width="300" height="150"></canvas>

<script src="/static/js/app.js"></script>
</body>
</html>

